extends layout

block content
    .row.banner
        .col-12
            h1 Laden Nummer 1
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    p.rating
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                    p Hauptstraße 1, 12334 Potsdam
                    .card.card-primary
                        .card-block
                            h2.card-title Öffnungszeiten
                            p.card-text Montag - Freitag : 10:00 bis 18:00 Uhr
                            p.card-text Samstag : 10:00 bis 16:00 Uhr
                            p.card-text Sonntag : Geschlossen
                    .card.card-primary
                        .card-block
                            h2.card-title Anlagen
                            span.badge.badge-warning
                                i.fa.fa-check | &nbsp;Hot drinks | &nbsp;
                            span.badge.badge-warning
                                i.fa.fa-check | &nbsp;Food | &nbsp;
                .col-12.col-md-6.location-map
                    .card.card-primary
                        .card-block
                            h2.card-title Karte
                            img.img-fluid.rounded(src='https://picsum.photos/450/300')
            .row
                .col-12
                    .card.card-primary.review-card
                        .card-block
                            a.btn.btn-primary.float-right(href='/shopslist/shop/review/new') Bewertung hinzufügen
                            h2.card-title Kundenbewertung
                                .row.review
                                    .col-12.no-gutters.review-header
                                        span.rating
                                            i.fas.fa-star
                                            i.fas.fa-star
                                        span.review Autor Person 1
                                        small.review Datum 3 September 2020
                                    .col-12
                                        p Ein toller Laden
        .col-12.col-lg-9
            p.lead Wieder Text zur weitern Information

