extends layout

block content
  .row.banner
    .col-12
      h1 Liste an Unverpackt-Läden
  .row 
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href='/shopslist/shop') Laden Nummer 1
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
            span.badge.badge-pill.badge-default.float-right 100m
          p.address Hauptstraße 1, 12334 Potsdam
          .facilities
            span.badge.badge-warning Food
    .col-12.col-md-4
      p.lead  Hier sind allgemeine Infos in der Slidebar


